::-webkit-scrollbar {
    display: none;
}


#BarraNavegacion {
    background-color: #3d4447;
  }

.Enlace{
text-decoration: none;
color:white;
opacity: 0.5;
padding-left: 0.5rem;
padding-right: 0.5rem;
}

.EnlaceActivo{
    opacity: 1;
}

.Enlace:hover{
    color:white;
    opacity: 1;
    }

.EnlaceVerde{
    color: #95c842 ;
}

.EnlaceVerde:hover{
    color: #95c842 ;
    opacity: 1;
    }

    .img-header{
      height: 700px;
      background-image: linear-gradient(to right, #00000097,#00000097), url("../Images/ba1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      padding-top: 180px;
      color: white;        
  }
  #ConfBA {
    background: black;
    padding: 0px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  #ConfBA img {
    opacity: 1;
    transition: 0.5s opacity;
  }
  
  #ContenedorTextoConfBA {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0px;
    color: white;
    font-size: 1.2em;
    left: 0px;
    padding: 10px 15px;
    position: absolute;
    transition: 0.5s padding;
    text-align: center;
    width: 100%;
  }
  
  #ContenedorTextoConfBA p {
    text-align: right;
    padding: 0.5em;
    padding-right: 0;
    max-width: fit-content;
  }
  
  
  #Oradores {
    width: 80%;
  }
  
  #ContenedorCards {
    padding: 0.5em;
  }

  #cardEstudiante:hover{
    background-color: #0d6efd;
    color: white !important;
  }
  #cardTrainee:hover{
    background-color: #0dcaf0;
    color: white !important;
  }
  #cardJunior:hover{
    background-color: #ffc107;
    color: white !important;
  }
 

  .TextoALaDerecha {
    margin-left: 40%;
    font-size: 1.5vw;
  }
  
  .textoAbajo {
    position: relative;
    bottom: -35%;
  }
  
  .imagen-card{
    object-fit: cover;
    width: 100%;
    height: 300px;
  }
  
  .Subseccion {
    background-color: #3d4447;
    max-width: auto;
    min-width: 300;
  }
  
  #Formulario {
    width: 65%;
    
  }
  
  .BotonVerde{
    background-color: #95c842 !important;
    border-color: #95c842 !important;
    color: white !important;
  }
  
  #footer {
    background-color: #1c445a;
    
  }
  #footer a{
    text-decoration: none;
      color: white;
  }

  .categoryCard{
    max-width: 18rem;
  }

  #Precio{
    background-color:#cfe2ff;
  }